body{
	background-color: #000814;
  color: #f1f2ff;
	padding: 4vh;
	font-family: "Quattrocento", serif;
}

h1{
	text-align: center;
	color: #f4f002;
	font-size: 8vh;
	font-family: "Domine", serif;
	margin-bottom: -2vh;
}

h4{
	text-align: center;
	font-size: 3vh;
	color: #f1f2ff;
	text-transform: uppercase;
	font-family: "Quattrocento" serif;
	margin-bottom: 5vh;
}

.btn-cont{
	display: flex;
	justify-content: space-around;
}

.btn-cont button{
	width: 30%;
	background-color: #f4f002;
	color: #000814;
	font-size: 3vh;
	padding: 1.5vh;
	font-weight: 600;
	font-family: 'Quattrocento', serif;
	margin-bottom: 2vh;
	border-radius: 5px;
}

.btn-cont button:hover{
	color: #f4f002;
	background-color: #000814;
	border: 2px solid #f4f002;
}

p{
	font-family: "Quattrocento", serif;
	font-size: 3vh;
	margin: 2vh;
	text-align: center;
	line-height: 4vh;
}

.status {
	background-color: #1f2737; 
	/* border: 1px solid #d1eaff; */
	padding: 10px;
	text-align: center;
	margin: 6vh 2vh;
	max-width: 100%;
	font-weight: 600;
  }

